<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h2>결제내역</h2>
    <a href="#" id="add">결제내역 추가</a><br>
    <a href="#" id="list">결제목록</a><br>
    <a href="#" id="crawling">웹크롤링</a><br>
    <script>
        $('#add').click(e => {location.href="/move/bookings/add"})
        $('#list').click(e => {location.href="/move/bookings/list"})
        $('#crawling').click(e => {
            $.getJSON('/bookings/crawling/wmp', d => {
                alert(`게시글 ${d.count}개 등록 완료`)
            })
        })
    </script>
</body>
</html>